In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Individual Carbon Footprint.csv")
df.head()

,Unnamed: 0,Electricity Bill(Monthly in Rs.),Gas Bill (Monthly in Rs.),Oil Bill (Monthly in Rs),Car Mileage (Yearly in Rs.),No. of flights in Past year(4hr or less),No. of flights in past year (4hrs or more),Recycled Newspaper past year,Recycled Aluminium and Tin Past year,CO2 Footprint (Tonnes)
0,0,5322.554687,1594.004428,3478.366660,17605.025605,60,26,No,No,656.976055
1,1,5124.830372,339.655107,488.266375,52565.781974,61,28,No,Yes,430.478022
2,2,8936.016302,2206.751278,199.879216,31374.613247,11,47,Yes,Yes,718.131446
3,3,9460.938786,3769.012804,4904.934421,31060.831028,41,50,No,No,1116.695282
4,4,1192.171025,940.142524,4553.955100,15137.897795,30,37,Yes,Yes,473.124394

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  8000 non-null   int64
 1   Electricity Bill(Monthly in Rs.)            8000 non-null   float64
 2   Gas Bill (Monthly in Rs.)                   8000 non-null   float64
 3   Oil Bill (Monthly in Rs)                    8000 non-null   float64
 4   Car Mileage (Yearly in Rs.)                 8000 non-null   float64
 5   No. of flights in Past year(4hr or less)    8000 non-null   int64
 6   No. of flights in past year (4hrs or more)  8000 non-null   int64
 7   Recycled Newspaper past year                8000 non-null   object
 8   Recycled Aluminium and Tin Past year        8000 non-null   object
 9   CO2 Footprint (Tonnes)                      8000 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 625.1+ KB

In [4]:
df.drop(columns="Unnamed: 0", inplace=True)

In [5]:
discrete_cols = [i for i in df.columns if df[i].dtype == 'O']

for col in discrete_cols:
    df[col] = df[col].apply(lambda x: 1 if x=='Yes' else 0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Electricity Bill(Monthly in Rs.)            8000 non-null   float64
 1   Gas Bill (Monthly in Rs.)                   8000 non-null   float64
 2   Oil Bill (Monthly in Rs)                    8000 non-null   float64
 3   Car Mileage (Yearly in Rs.)                 8000 non-null   float64
 4   No. of flights in Past year(4hr or less)    8000 non-null   int64
 5   No. of flights in past year (4hrs or more)  8000 non-null   int64
 6   Recycled Newspaper past year                8000 non-null   int64
 7   Recycled Aluminium and Tin Past year        8000 non-null   int64
 8   CO2 Footprint (Tonnes)                      8000 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 562.6 KB

In [7]:
x_feat = [i for i in df.columns if i!= "CO2 Footprint (Tonnes)"]
y_feat = "CO2 Footprint (Tonnes)"

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.loc[:, x_feat], df[y_feat], test_size = 0.2)

In [8]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(max_depth=100, random_state=0)

clf.fit(x_train, y_train)

print(f"Accuracy on test data: {clf.score(x_test, y_test)*100}%")

Accuracy on test data: 98.39789367923188%

In [9]:
import pickle

filename = "individual_RF_model.pickle"

# save model
pickle.dump(clf, open(filename, "wb"))

In [23]:
clf.predict(np.array([8, 9, 10, 11, 13, 13, 14, 15]).reshape(1, -1))

TypeError: array() got an unexpected keyword argument 'index'

In [25]:
clf.predict(pd.DataFrame(dict(zip(list(x_train.columns), [8, 9, 10, 11, 13, 13, 14, 15])), index=[0]))[0]

172.13909560216817