In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("IndustryModelDataset.csv")
df.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

In [12]:
df = df.loc[:, ["NumberofFloors", "PropertyGFAParking", "PropertyGFABuilding(s)",
          "SiteEUI(kBtu/sf)", "SourceEUI(kBtu/sf)", "SteamUse(kBtu)", "Electricity(kBtu)",
          "NaturalGas(kBtu)", "TotalGHGEmissions"]]

df.dropna(inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3365 entries, 0 to 3375
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NumberofFloors          3365 non-null   int64
 1   PropertyGFAParking      3365 non-null   int64
 2   PropertyGFABuilding(s)  3365 non-null   int64
 3   SiteEUI(kBtu/sf)        3365 non-null   float64
 4   SourceEUI(kBtu/sf)      3365 non-null   float64
 5   SteamUse(kBtu)          3365 non-null   float64
 6   Electricity(kBtu)       3365 non-null   float64
 7   NaturalGas(kBtu)        3365 non-null   float64
 8   TotalGHGEmissions       3365 non-null   float64
dtypes: float64(6), int64(3)
memory usage: 262.9 KB

In [13]:
x_feat = [i for i in df.columns if i!= "TotalGHGEmissions"]
y_feat = "TotalGHGEmissions"

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.loc[:, x_feat], df[y_feat], test_size = 0.2)

x_train.head()

,NumberofFloors,PropertyGFAParking,PropertyGFABuilding(s),SiteEUI(kBtu/sf),SourceEUI(kBtu/sf),SteamUse(kBtu),Electricity(kBtu),NaturalGas(kBtu)
1489,3,0,24032,23.600000,74.099998,0.0,566878.0,0.0
1050,4,0,118154,42.500000,122.500000,0.0,3468864.0,492034.0
1970,1,0,23100,187.199997,338.799988,0.0,1572644.0,2751028.0
3339,2,0,24990,176.899994,367.000000,0.0,2167029.0,2253621.0
1380,4,0,37485,33.500000,85.199997,0.0,896658.0,359799.0

In [15]:
y_train.head()

1489      3.95
1050     50.31
1970    157.07
3339    134.80
1380     25.36
Name: TotalGHGEmissions, dtype: float64

In [14]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(max_depth=100, random_state=0)

clf.fit(x_train, y_train)

print(f"Accuracy on test data: {clf.score(x_test, y_test)*100}%")

Accuracy on test data: 98.3843943723508%

In [7]:
import pickle

filename = "industry_RF_model.pickle"

# save model
pickle.dump(clf, open(filename, "wb"))

In [8]:
print(x_feat)

['NumberofFloors', 'PropertyGFAParking', 'PropertyGFABuilding(s)', 'SiteEUI(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SteamUse(kBtu)', 'Electricity(kBtu)', 'NaturalGas(kBtu)']